= simple_form_for course do |f|
  -#- if @course.logo.attached?
  -#  = @course.logo.preview(resize_to_limit: [100, 100])
  -#= f.file_field :logo, label: 'bla-bla', accept: 'image/png,image/jpeg'
  = f.input :logo, as: :file, input_html: { accept: 'image/png,image/jpeg' }, label: t('.logo')
  = f.input :title, label: t('.title')
  = f.input :description, label: t('.description')
  = f.input :url, label: t('.url')
  = f.input :rating, label: t('.rating')
  = f.input :city_id, as: :select, collection: City.all, label: t('.city')
  = f.input :organization_id, as: :select, collection: Organization.all,
    label: t('.organization')
  = f.input :tag_list, as: :select, collection: Course.tag_counts_on(:tags),
    label: t('.tags'), value_method: :name, input_html: { multiple: "true", class: 'select2' }
  = f.submit t('.save')
