%div
  - @courses.each do |course|
    %div.btn-group.float-right
      = button_to t('.show'), course, method: :get, class: 'btn btn-success'
      = button_to t('.edit'), edit_course_path(course), method: :get, class: 'btn btn-warning'
      = button_to t('.destroy'), course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    = link_to course.title, course
    %hr
%div.text-center
  = link_to t('.new'), new_course_path

!= pagy_nav_bootstrap(@pagy)