= render 'form'

%div
  - @courses.each do |course|
    - present course do |course_presenter|
      %p= image_tag course_presenter.logo, size: '200x200'
    %div.btn-group.float-right
      = button_to t('.show'), course, method: :get, class: 'btn btn-success'
    = link_to course.title, course
    %hr

!= pagy_nav_bootstrap(@pagy)
