.main2
  .course-page{:style => "margin-bottom: 20px"}
    .edit-course-icon
      - if current_user&.role?('admin')
        = link_to edit_course_path(@course), method: :get do
          %span.fas.fa-pen-square
    .course-page-img
      - present @course do |course_presenter|
        = image_tag course_presenter.logo
    .course-page-info
      %h2
        = @course.title      
      .course-page-rating
        = rating_for @course, 'rating', readonly: true, noRatedMsg: ''
      .tag-list
        - (@course.tag_list).each do |tag|
          %a.tag{:href => "#"}
            = tag
      %pb
        = @course.description
      %ul.course-info-list
        %li
          %i.fas.fa-globe-americas
          = link_to @course.url
        %li
          %i.far.fa-building
          - if @course.organization.present?
            = link_to @course.organization.name, @course.organization.site
          - else
            = t('courses.all.none')
        %li
          %i.fas.fa-map-marker-alt
          = @course.city.name
        %li
  .course-page{:style => "margin-bottom: 20px"}
    .stylish-title.clearfix
      .hr
      .stylish-title-text
        = t('reviews.all.review-title')
      .hr
    .comments
      = render policy_scope(@course.reviews.includes(:author))
      = render 'reviews/form'
      
