%div.row
  %div.col-md-4
    - present @course do |course_presenter|
      %p= image_tag course_presenter.logo, size: '240x200'
  %div.col-md-8
    %h2
      %b
        = t('courses.form.title')
      = @course.title
    %h5
      %b
        = t('courses.form.description')
      = @course.description
    %h5
      = link_to t('courses.form.url'), @course.url
    %h5
      %b
        = t('courses.form.organization')
      - if @course.organization.present?
        = link_to @course.organization.name, @course.organization.site
      - else
        = t('courses.all.none')
    %h5
      %b
        = t('courses.form.city')
      = @course.city.name
    %h5.float-left
      %b
        = t('courses.form.rating')
    %div.float-left.rating
      = rating_for @course, 'rating', star: 5, disable_after_rate: false, noRatedMsg: ''
    = @course.average('rating').try(:avg) 

  %div.col-md-12.text-center
    %hr
      %div
        %h4
          = t('reviews.all.review-title')
        = render policy_scope(@course.reviews)

    - if policy(@course.reviews.new).create?
      %hr
      %div
        %h4
          = t('reviews.all.add-review')
        = render 'reviews/form'
