%div.row
  %div.col-md-4
    Course image
  %div.col-md-8
    %h2
      %b
        = t('courses.form.title')
      = @course.title
    %h5
      %b
        = t('courses.form.description') 
      = @course.description
    %h5
      = link_to t('courses.form.url'), @course.url
    %h5
      %b
        = t('courses.form.organization') 
      = link_to @course.organization.name, @course.organization.site
    %h5
      %b
        = t('courses.form.city')  
      = @course.city.name
    %h5.float-left 
      %b
        = t('courses.form.rating')
    %div.float-left.rating 
      = rating_for @course, 'rating', star: 5, disable: true

  %div.col-md-12.text-center
    %hr
    %div
      %h4
        = t('reviews.all.review-title') 
      = render @course.reviews
    %hr

    %div
      %h4
        = t('reviews.all.add-review') 
      = render 'reviews/form'