.comments-element
  .user-avatar
    - if review.author.avatar.present?
      %img{:alt => "", :src => "#{review.author.avatar}"}
    - else
      %img{:alt => "", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0Ua1kNXKh-SwzIt9jQtkDR9dbRK3jS-zkDLN2pPPBvDBgFuJDjA"}

  .comment-info
    .comments-user-info
      %h5
        = "#{review.author.first_name} #{review.author.last_name}"
        %a{ href:"http://#{review.author.url}" } 
          %i.fab.fa-facebook-square
    .comments-text
      = review.text
  