.comments-container
  %h1
  %ul#comments-list.comments-list
    %li
      .comment-main-level
        .comment-avatar
          %img{:alt => "", :src => "#{review.author.avatar}"}
        .comment-box
          .comment-head
            %h6.comment-name.by-author
              %a{ href: "#{review.author.url}" } 
                = "#{review.author.first_name} #{review.author.last_name}"
            %span
              = time_ago_in_words(review.created_at)
            - if current_user&.role?('admin')
              = link_to [review.course, review], method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-times
          .comment-content
            = review.text