%div.row
  %div.col-12
    %p
      = t('reviews.all.author')
      %b
        = review.author.first_name
    %p
      = t('reviews.all.text')
      %b
        = review.text
    %p
      = t('reviews.all.facebook')
      = link_to t('reviews.all.author_url'), review.author.url
    %br
