.main2
  .course-page
    %h3 Pending reviews
    .pending-element.clearfix
      - @reviews.each do |review|
        .pending-title.float-left
          %p
          %b
            = review.text
          by
          %b
            = "#{review.author.first_name} #{review.author.last_name}"
          to 
          %b
            = review.course.title
        .pending-control.float-right
          %span
            = link_to pending_review_change_status_path(review), method: :get do
              %i.fas.fa-check
            = link_to course_review_path(id: review.id, course_id: review.course.id), method: :delete, data: { confirm: t('courses.form.confirmation') } do
              %i.fas.fa-times
    .pagi-pending
      != pagy_nav_bootstrap(@pagy)