%html
  %head
    %title Project X
    = csrf_meta_tags
    = csp_meta_tag
    %link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/ico' }
    %link{crossorigin: 'anonymous', href: 'https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity: 'sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', rel: 'stylesheet'}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %header
    .header-container
      .header-logo
        = link_to root_path do
          = image_tag('pic/code.png')
      %ul.nav
        %li.nav-element
          = link_to t('layouts.application.home'), root_path
        %li.nav-element
          = link_to t('courses.index.new'), new_course_path if policy(Course.new).new?
        %li.nav-element
          %a{:href => '#about'}= t('layouts.application.about')
      %ul.nav2
        - if policy(:pending).change_status?
          %li.dropdown
            %a.dropbtn Admin
            .dropdown-content
              = link_to 'Admin Panel', admin_root_path
              = link_to 'Pending courses', pending_courses_path
              = link_to 'Pending comments', pending_reviews_path
        %li
          %a{href: '/?locale=ua'}
            = image_tag('pic/ukraine.png')
        %li
          %a{href: '/?locale=en'}
            = image_tag('pic/united-states.png')
        - if current_user.nil?
          %li
            = link_to t('.login'), user_facebook_omniauth_authorize_path
        - else
          %li
            = link_to t('.logout'), destroy_user_session_path, method: :delete
  -# - if notice
  -#   %p.alert.alert-success
  -#     = notice
  -# - if alert
  -#   %p.alert.alert-danger
  -#     = alert
  = yield