%html
  %head
    %title Project X
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light
      %div.container
        = link_to "Home", root_path, class: "navbar-brand"
        %ul.navbar-nav.nounderline
          %li.nav-link
            = link_to "Courses", courses_path
          - if current_user.nil?
            %li.nav-link
              = link_to "Log In", user_facebook_omniauth_authorize_path
          - else
            %li.nav-link
              = link_to "Logout", destroy_user_session_path, method: :delete
    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert
    %div.container.mainpage
      %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
        = t('.language')
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to t('.ukraine'), url_for(:locale => :ua)
        %li
          = link_to t('.english'), url_for(:locale => :en)

      = yield
