%html
  %head
    %title Project X
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light
      %div.container
        = link_to 'Project X', root_path, class: 'navbar-brand'
        %ul.navbar-nav.nounderline
          - if user_signed_in? && current_user.role?('admin')
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"data-toggle"=>"dropdown"}
                Admin
              %div.dropdown-menu
                %a
                  = link_to 'Pending courses', pending_courses_path, class: 'dropdown-item'
                %a
                  = link_to 'Pending comments', pending_reviews_path, class: 'dropdown-item'
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{'data-toggle': 'dropdown'}
              = t('.language')
            %div.dropdown-menu
              %a
                = link_to t('.ukraine'), url_for(locale: :ua), class: 'dropdown-item'
              %a
                = link_to t('.english'), url_for(locale: :en), class: 'dropdown-item'
          %li.nav-item
            = link_to t('.courses'), courses_path, class: 'nav-link'     
          - if current_user.nil?
            %li.nav-item
              = link_to t('.login'), user_facebook_omniauth_authorize_path, class: 'nav-link'
          - else
            %li.nav-item
              = link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link'
    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert
    %div.container.mainpage
      = yield
